@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* padding: 1rem; */
}

@layer base{

}

@layer components {
  /* homepage */
  .homeChild{
    @apply relative w-screen h-fit 
  }
  .pageChild{
    @apply relative w-screen h-screen
  }
  .childTitle{
    @apply relative w-full xs:h-[10%] xs:pt-5 lg:h-[20%] lg:pt-10 content-center text-center justify-center
  }
  .childContent{
    @apply xs:flex-grow lg:flex w-full xs:h-[90%] lg:h-[80%]
  }
  .childContentR{
    @apply relative w-full h-[80%] 
  }
  .homeTitle{
    @apply font-bold xs:text-xl lg:text-4xl text-pink-400 font-about select-none
  }

  /* navbar */
  .navItem{
    @apply content-center text-pink-600 hover:text-pink-300 hover:underline font-bold text-xl font-about
  }
  .navChildItem{
    @apply block px-4 py-2 hover:bg-pink-100 text-pink-600 font-about
  }
  .mbNavItem{
    @apply text-pink-600 hover:text-pink-300 hover:underline hover:ml-5 font-bold duration-300
  }

  /* footer */
  .infoTxt{
    @apply text-pink-600 text-xl hover:text-blue-600 hover:ml-5 hover:underline duration-300 font-service
  }

  .fontSzTitle{
    @apply xs:text-xl lg:text-2xl font-service font-semibold
  }

  .fontSzCont{
    @apply xs:text-lg lg:text-xl font-service
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}




 


